Host/Connected Services/ServiceRef/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiveScoreSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiveScoreSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WCFContact">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactDOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ContactID" type="xs:int" />
      <xs:element minOccurs="0" name="ContactIncome" type="xs:decimal" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFContact" nillable="true" type="tns:WCFContact" />
  <xs:complexType name="ArrayOfWCFContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCFContact" nillable="true" type="tns:WCFContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCFContact" nillable="true" type="tns:ArrayOfWCFContact" />
</xs:schema>