Host/Connected Services/ServiceRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49926/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49926/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49926/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LiveScoreSystem" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_insertPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:insertPlayers" />
  </wsdl:message>
  <wsdl:message name="IService1_insertPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertTeams_InputMessage">
    <wsdl:part name="parameters" element="tns:insertTeams" />
  </wsdl:message>
  <wsdl:message name="IService1_insertTeams_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:insertMatches" />
  </wsdl:message>
  <wsdl:message name="IService1_insertMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertCommentries_InputMessage">
    <wsdl:part name="parameters" element="tns:insertCommentries" />
  </wsdl:message>
  <wsdl:message name="IService1_insertCommentries_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertCommentriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="insertPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertPlayers" message="tns:IService1_insertPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertPlayersResponse" message="tns:IService1_insertPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertTeams">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertTeams" message="tns:IService1_insertTeams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertTeamsResponse" message="tns:IService1_insertTeams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertMatches">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertMatches" message="tns:IService1_insertMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertMatchesResponse" message="tns:IService1_insertMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertCommentries">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertCommentries" message="tns:IService1_insertCommentries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertCommentriesResponse" message="tns:IService1_insertCommentries_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertPlayers">
      <soap:operation soapAction="http://tempuri.org/IService1/insertPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTeams">
      <soap:operation soapAction="http://tempuri.org/IService1/insertTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertMatches">
      <soap:operation soapAction="http://tempuri.org/IService1/insertMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCommentries">
      <soap:operation soapAction="http://tempuri.org/IService1/insertCommentries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49926/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>