LiveScoreClient/Connected Services/ServiceRef/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiveScoreSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiveScoreSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ball" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Economy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fours" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Run" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sixes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Strikerate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Team_id" type="xs:int" />
      <xs:element minOccurs="0" name="Wicket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pplayer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Team">
    <xs:sequence>
      <xs:element minOccurs="0" name="Batfirst" type="xs:int" />
      <xs:element minOccurs="0" name="Match_id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Noball" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wideball" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Team" nillable="true" type="tns:Team" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element minOccurs="0" name="Endtime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Starttime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="Commentry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balls" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Commentry" nillable="true" type="tns:Commentry" />
</xs:schema>